@import "./App.scss";

.Chars {
  width: 99%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  background: $Color-Fondo-Home;
  &_Img {
    width: 30%;
  }
  &_Table {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: $Color-Primary;
    box-shadow: 10px 4px 4px rgba(0, 0, 0, 0.40);
    border-radius: 30px;
    &--Data {
      width: 90%;
      margin-top: 30px;
    }
  }
}

.ant-table-tbody {
  background: linear-gradient(180deg, #03171E 25%, rgba(67, 0, 30, 0.85) 100%);
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.25);
  color: $Color-white;
  font-weight: 600;
}

.ant-table-tbody:hover {
  color: $Color-Primary;
}